/* Sidebar
------------------------------------------------ */

.sidebar {
	font-size: $sidebar--font-size;
	padding-bottom: 40px;

	li {
		border-bottom: 1px dotted #ddd;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		>li {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.widget {
		background-color: #fff;
		padding: 40px;
	}
}